@import 'colors';

* {
   color: $color1;
}

nav {
   background-color: $color5; 
   padding: 10px;
   a {
    padding: 10px;
    font-weight: bold;
   }
   a:hover{
    background-color: $color4; 
    color: $color1;
    text-decoration: none;
   }
}