<div class="d-flex flex-column">
    <nav class="d-flex justify-content-end">
        <a appHideIfNotLoggedIn routerLink="/myOrders/new">Neue Bestellung</a>
        <a appShowIfNotLoggedIn routerLink="/login">Neue Bestellung</a>
    </nav>
    <div class="order">
        <div *ngFor="let order of (orders$ | async)" [routerLink]="['/myOrders', order.order.id]">
            <div class="text">{{order.order.text | slice:0:250}}</div>
            <div class="d-flex flex-row">
                <div>{{order.user.street}}</div>
                <div>{{order.user.zipcode}}</div>
                <div>{{order.user.city}}</div>
            </div>
        </div>
        <div *ngIf="(orders$ | async) != undefined && (orders$ | async).length == 0">
            Sie haben bisher noch keine Bestellungen angelegt.
        </div>
    </div>
</div>